doctype html
html(ng-app)
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
	body
		block content
		script(type='text/javascript' src='/lib/bootstrap/js/jquery.min.js')
		script(type='text/javascript' src='/lib/bootstrap/js/bootstrap.min.js')
		script(type='text/javascript' src='/lib/bootstrap/js/angular.min.js')
